* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';

}
li{
    list-style: none;
    margin-top:10px;
}

.header {
    background-color: #6C4796;
    padding: 16px;
}
.btn-centrar{
    text-align:center;
}
@media(min-width:992){
    .btn-centrar{
        text-align:left;
    }
}

.desarrollar {
    font-size: 30px;
    font-weight: 900;
}

a {
    font-size: 13px;
}


@media(min-width:768px) {
    .desarrollar {
        font-size: 60px;
        font-weight: 900;
        position:relative;
    }
}


.background {
    background-image: url(../img/online-training\ 1.png);
    background-position: top;
    background-size: cover;
    height: 50vh;
}

@media(min-width:768px) {
    .background {
        background-image: url(../img/online-training\ 1.png);
        background-position: top;
        position: relative;
        height: 100vh;
    }
}

@media(min-width:1200px) {
    .background {
        background-image: url(../img/online-training\ 1.png);
        background-position: top;
        position: relative;
        height: 100vh;
        bottom: 30px;
        left: 62px;
        margin-bottom:2rem;
    }
}


a {
    color: #2F2E30;
}

.enlaces {
    margin-top: 90px;
    display: block;
}

.parrafo-header {
    font-size: 13px;
    line-height:24px;
}

.boton {
    border-radius: 5px;
    border: none;
    outline: none;
}
.parrafo-grid{
    width:100%;
    text-align: center;
}
@media(min-width:1200px){
    .parrafo-grid {
        width: 70%;
        margin: 0 auto;
        font-size: 15px;
        line-height:24px;
        text-align: unset;
    }
}

.atencion {
    text-align: center;
}

@media(min-width:768px) {
    .atencion {
        text-align: left;
    }
}



.posicionar {
    position: relative;
    bottom: 30px;
}

/**ELIPSES*/
.ellipse19{
    position: relative;
    left:90px;
    margin-bottom:25px;
}
@media(min-width:800px){
    .ellipse19 {
        position: relative;
        left:280px;
        bottom: 100px;
    }
}
@media(min-width:768px){
    .ellipse19 {
        position: relative;
        bottom: 100px;
        left:260px;
    }
}
@media(min-width:1200px) {
    .ellipse19 {
        position: relative;
        left:400px;
        bottom: 100px;
        margin-bottom:-10rem;
    }
}

@media(min-width:1200px) {
    .ellipse22 {
        position: relative;
        left: 10px;
        bottom: 50px;
    }
}
@media(min-width: 360px){
    .ellipse20{
        position:relative;
        left:150px;
        margin-bottom:15px;
    }
    }
@media(min-width:1200px) {
    .ellipse20 {
        position: relative;
        left: 400px;
        bottom: 70px;
    }
}

@media(min-width:992px) {
    .ellipse-dos {
        position: relative;

    }
}

@media(min-width:992px) {
    .ellipse-col {
        position: relative;
        bottom: -400px;
        left: -100px;
       
    }
}
@media(min-width: 360px){
.eclipse-servicios{
    position:relative;
    left:190px;
}
}
@media(min-width:1200px){
    .eclipse-servicios{
        position:relative;
        left:310px;
        bottom:-30px;
        
    }
}
@media(min-width:320px){
    .eclipse-ui{
        position:relative;
        top:50px;
        left:120px;
    }
}

@media(min-width:992px){
    .eclipse-ui{
        position:relative;
        top:50px;
        left:-0px;
    }
}
@media(min-width:320px){
    .elipseveinteuno{
        position:relative;
        right:-100px;
    }
}
@media(min-width:768px){
    .elipseveinteuno{
        position:relative;
        left:300px;
    }
} 
@media(min-width:800px){
    .elipseveinteuno{
        position:relative;
        left:350px;
    }
}
@media(min-width:992px){
    .elipseveinteuno{
        position:relative;
        left:1120px;
    }
}

@media(min-width:320px){
    .ellipse-veinte{
        position:relative;
        right:-100px;
        bottom:-40px;
    }
}
@media(min-width:768px){
    .ellipse-veinte{
        position:relative;
        right:-300px;
        bottom:-30px;
    }
}
@media(min-width:800px){
    .ellipse-veinte{
        position:relative;
        right:-310px;
        bottom:-30px;
    }
}

@media(min-width:1200px){
    .ellipse-veinte{
        position:relative;
        right:100px;
        bottom:60px;
        margin-bottom:-5rem;
    }
}
@media(min-width:320px){
    .elipsedieznueve{
        position:relative;
        bottom:-20px;
        left:40px;
    }
}

@media(min-width:992px){
    .elipsedieznueve{
        position:relative;
        top:70px;
        left:100px;
    }
}
@media(min-width:992px){
    .eclipse-proyecto{
        position:relative;
        left:530px;
    }
}
@media(min-width:320px){
    .elipse-comienza{
        position:relative;
        top:50px;
        left:50px;
    }
}
@media(min-width:992px){
    .elipse-comienza{
        position:relative;
        top:50px;
        left:50px;
    }
}
@media(min-width:320px){
    .elipsedosdos{
        position:relative;
        bottom:60px;
        left:120px;
    }
}
@media(min-width:1200px){
    .elipsedosdos{
        position:relative;
        bottom:-90px;
        left:110px;
    }
}
@media(min-width:320px){
    .elipse-proceso{
        position:relative;
        left:100px;
    }
}
@media(min-width:1200px){
    .elipse-proceso{
        position:relative;
        left:1000px;
    }
}
@media(min-width:1200px){
    .esperar-elipse{
        position:relative;
        top:400px;
        left:1080px;
    }
}
/**SECCION NUESTROS SERVICIOS CARDS*/

.servicios {
    font-size: 40px;
    padding:10px;
}

.servicios span {
    color: #6C4796;
}

.servicios-parrafo {
    font-size: 13px;
    width: 60%;
    line-height: 24px;
    text-align: center;
    margin:0 auto;
}

@media(min-width:768px) {
    .servicios-parrafo {
        font-size: 13px;
        width: 30%;
        line-height: 24px;
        text-align: center;
        margin: 0 auto;
    }
}

.heading-card {
    font-size: 18px;
    font-weight: 700;
}

.parrafo-card {
    font-size: 13px;
    font-weight: 600;
    color: #2F2E30;
    line-height: 24px;
}

.borde {
    border: 0.5px solid #2F2E30;
    border-radius: 10px;
}

.flecha {
    position: relative;
    left: 20px;
}

.vectores {
    position: relative;
    right: 40px;
    top: 20px;

}

.color {
    color: #6C4796
}



/*SECCION TRABAJAR*/

.trabajar {
    font-size: 40px;
    width: 100%;
}

.trabajardos {
    font-size: 36px;
    line-height:54px;
}
.trabajar{
    width:100%;
    text-align: center;
}


@media(min-width:992px) {
    .trabajar {
        width: 60%;
        line-height: 54px;
        text-align: unset;
    }
}

.trabajar-parrafo {
    font-size: 13px;
    color: #2F2E30;
    line-height: 24px;
}

.botoncv {
    background-color: #6C4796;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 15px 32px;
}

.imagen-trabajo {
    text-align: center;
    position:relative;
    z-index:100;
}

.trabajo-descripcion {
    text-align: center;
    margin-left:0px;
}


@media(min-width:768px) {
    .trabajo-descripcion {
        text-align: unset;
        margin-left:50px;

    }
}

/***PROCESO*/
.proceso-heading {
    font-size: 40px;
    line-height: 54px;
}

.parrafo-carta {
    font-size: 13px;
    line-height: 24px;
}

@media(min-width:768px){
    .proceso-parrafo{
        font-size:13px;
        line-height:24px;
        width:40%;
        margin:0 auto;
    }
}
.esperar-bg{
    background-color: #6C4796;
    border-radius: 10px;
    color:#fff;
}
.esperar{
    position:relative;
    z-index:200;
}
.esperar-heading{
    text-align:center;
}
@media(min-width:992px){
    .esperar-heading{
        font-size:40px;
        line-height:54px;
        text-align: unset;
    }
}

.esperar-parrafo{
    font-size:13px;
    line-height:24px;
    text-align: center;
}
.boton-esperar{
    text-align:center;
}
@media(min-width:992px){
    .boton-esperar{
        text-align: center;
    }
}
@media(min-width:1200px){
    .boton-esperar{
        text-align: unset;
    }
}
@media(min-width:768px){
    .esperar-parrafo{
    text-align: unset;
    }
}
@media(min-width:992px){
    .esperar-parrafo{
    text-align: center;
    }
}
.esperar-img{
    position:relative;
    bottom:130px;
}
.trabajos{
    margin-top:200px;
}
.trabajos-heading{
    font-size:40px;
    line-height:54px;
}
.trabajos h3{
    font-size:18px;
    font-weight:700;
}
.testimonio-heading{
    font-size:40px;
    line-height:54px;
}
.testimonio-parrafo{
    font-size:13px;
    line-height:24px;
}

.nombre-testimonio{
    font-size:16px;
    line-height:21.94px;
}
.testimonio-cargo{
    font-size:13px;
    line-height: 24px;
}
.cita{
    position:relative;
    bottom:30px;
}
.footer{
    background-color:#6C4796;
}
.contenedor{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}
.img-logo{
    margin-bottom:-5rem;
}
.linea{
    width:65%;
    margin:0 auto;
}
/**ELIPSES DE TRABAJOS*/
@media(min-width:1200px){
    .elipse-trabajo{
        position:relative;
        top:230px;
        margin-bottom:-5rem;
    }
}
@media(min-width:1200px){
    .elipse-galeria{
        position:relative;
        bottom:40px;
        left:240px;
        margin-bottom:-5rem;
    }
}
@media(min-width:1200px){
    .elipse-btn{
        position:relative;
        bottom:40px;
        left:1000px;
        margin-bottom:-5rem;
    }
}
@media(min-width:1200px){
    .elipse-testimonios{
        position:relative;
        bottom:350px;
        left:10px;
        margin-bottom:-5rem;
    }
}
.circulo01{
    position:relative;
    bottom:-20px;
    right:95px;
    font-size:20px;
}
.circulo02{
    position:relative;
    left:90px;
    top:20px;
    font-size:20px;
}
.circulo03{
    position:relative;
    left:95px;
    bottom:-65px;
    font-size:20px;
}
.circulo06{
    position:relative;
    left:95px;
    bottom:-45px;
    font-size:20px;
}
.footer{
    background-color:#6C4796;
    color:#fff;
}
.texto-footer{
    text-align: center;
    font-size:13px;
    line-height:24px;
}
@media(min-width:768px){
    .texto-footer{
        text-align:unset;
    }
}
.vector-slide{
    position:relative;
    bottom:100px;
    background-color: #E5E5E5;
    padding:25px;
    right:50px;
    border-radius:50px;
}
.logo{
    margin-bottom:-5rem;
}
.elispe-footer{
    position:relative;
    bottom:120px;
    right:80px;
}
.elipse-footer-dos{
    position:relative;
    bottom:220px;
    left:200px;
}